<div class="row">
  <% a = Meal.all %>
  <% a = a[0..11] %>
  <% a.each do |f| %>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="text_center">
          <h3 class="panel-title"><%= f.name %></h3>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <div class="text_center">
          <b>PRICE: </b><%= f.cost %>$
          </div>
        </div>
        <div class="col-md-6">
          <div class="text_center">
            <%= link_to root_path, class: "btn btn-info btn-xs" do%>Order <em class="fa fa-plus-circle"></em><%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

